#windowFrame {
  background-color: palette(Window);
}

#titleBar {
  border: 0px none palette(base);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: palette(Window);
  height: 24px;
}

QToolButton {
  background-color: transparent;
  border: transparent;
  padding: 0 10px;
}

QToolButton:hover {
  background-color: palette(midlight);
  border: transparent;
}

#btnClose:hover {
  background-color: #d11919;
  border: transparent;
}
